@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showDialog = !consentFeature?.CanTrack ?? false;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>


    <link rel="stylesheet" href="~/CSS/Shared/navbar.css">
    <link rel="stylesheet" href="~/CSS/Shared/footer.css">
    <link rel="stylesheet" href="~/CSS/Shared/shared.css">
    @RenderSection("CSS", false)

    <script src="~/JS/navbar.js" defer></script>
    @RenderSection("JS", false)

    @if (showDialog)
    {
        <link rel="stylesheet" href="~/CSS/Shared/cookies.css">
        <script src="~/JS/cookies.js" defer></script>
    }
</head>
<body>
    @if (showDialog)
    {
        var cookieString = consentFeature?.CreateConsentCookie();
        ViewData["consentCookie"] = cookieString;
        <partial name="_CookieConsentPartial" />
    }
    @Html.Partial("_Navbar")
    @RenderBody()

    @Html.Partial("_Footer")

</body>
</html>
