<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>


    <link rel="stylesheet" href="~/CSS/Shared/navbar.css">
    <link rel="stylesheet" href="~/CSS/Shared/footer.css">
    <link rel="stylesheet" href="~/CSS/Shared/shared.css">
    <link rel="stylesheet" href="~/CSS/Shared/cookies.css">
    @RenderSection("CSS", false)

    <script src="~/JS/cookies.js" defer></script>
    <script src="~/JS/navbar.js" defer></script>
    @RenderSection("JS", false)
</head>
<body>
    @Html.Partial("_Navbar")
        @RenderBody()
@*        <div id="overlay"></div>
        <div id="popup">
            <partial name="_CookieConsentPartial" />
        </div>*@

    @Html.Partial("_Footer")

</body>
</html>
