@model DetailsVM

@section CSS
    {    <link rel="stylesheet" href="~/CSS/details.css">
}
    @section JS
    {
    <script src="~/JS/details.js"></script>
    
}
<div class="super-container">
    <div>
    <div class="first-half">
    <div id="image" class="col">
        <img src="@Model.GetPictureUrl()" alt="@Model.Artikelnamn"  />
    </div>


        <div class="name-price">
        <h1 id="artikelnamn">@Model.Artikelnamn</h1>
        <h2> @Model.getPriceFormatted() kr</h2>
    <input type="number" value="1" id="AntalVaror" />
    <input type="button" value="Lägg i varukorgen" onclick="UppdateraVarukorg()" />
    </div>
    </div>

    <div class="second-half">
        <div class="col-8">
        <h1>Beskrivning</h1>
        <span>@Model.Beskrivning</span>
        </div> 
    <div class="grid-container">
        <div class="grid-item">ArtikelNr</div>
        <div class="grid-item" id="artikelnr">@Model.Artikelnr</div>
        <div class="grid-item">Hästkrafter</div>
        <div class="grid-item">@Model.Hästkrafter hk</div>
        <div class="grid-item">Trädensitet</div>
        <div class="grid-item">@Model.Trädensitet cm3</div>
        <div class="grid-item">Material</div>
        <div class="grid-item">@Model.Material</div>
        <div class="grid-item">Kategori</div>
        <div class="grid-item">@Model.Kategori</div>
        <div class="grid-item">TIllverkningsland</div>
        <div class="grid-item">@Model.Tillverkningsland</div>
        <div class="grid-item">ABS-broms</div>
        <div class="grid-item">@Model.BoolCheck()</div>
    </div>
 </div>

    <div id="price" style="display: none;">@Model.getPriceFormatted()</div>
    </div>
     </div>