@model IndexPartialVM[]

@foreach (var card in Model)
{
    <div class="card-div" style="position: relative">

        <partial name="~/Views/Shop/SVGs/Compare.cshtml" model="@card" />

        @if (User.Identity.IsAuthenticated)
        {
            <partial name="~/Views/Shop/SVGs/Heart.cshtml" model="@card" />
        }

        <a asp-controller="Shop" asp-action="ArticleDetails" asp-route-articleNr="@card.ArticleNr">
            <div class="article-card">
                <img src="@ShopUtils.GetPictureUrl(card.ArticleName)"
                 alt="@card.ArticleName" />
                <div id="price-name-container">
                    <p class="name">@card.ArticleName</p>
                    <div class="arrow-div">
                        <div class="price"><span class="price-span"> @ShopUtils.FormatPrice(card.Price) kr</span></div>
                        <div class="arrow-right"></div>
                    </div>
                </div>
            </div>
        </a>
    </div>
}