@model IndexPartialVM[]

@foreach (var card in Model)
{
    <div class="card-div" style="position: relative">

        <partial name="~/Views/Shop/SVGs/Compare.cshtml" model="@card" />

        @if (User.Identity.IsAuthenticated)
        {
            <partial name="~/Views/Shop/SVGs/Trashbin.cshtml" model="@card" />
        }

        <a href="Product/@card.ArticleNr">
            <div class="article-card">
                <img src="@card.GetPictureUrl()"
                 alt="@card.Name" />
                <div id="price-name-container">
                    <p class="name">@card.Name</p>
                    <div class="arrow-div">
                        <div class="price"><span class="price-span"> @ShopUtils.FormatPrice(card.Price) kr</span></div>
                        <div class="arrow-right"></div>
                    </div>
                </div>
            </div>
        </a>
    </div>
}