@using HoldYourHorses.Utils
@model ShoppingCartVM[]

@section JS{
    <script src="~/JS/shoppingCart.js" defer></script>
}

@section CSS{
    <link rel="stylesheet" href="~/CSS/shoppingCart.css">
}

@{
    var emptyShoppingCart = "";
    var articleContainer = "";
    if (Model != null && Model?.Count() != 0)
        emptyShoppingCart = "hide";
    else
        articleContainer = "hide";
}

<div id="container">
    @if (Model != null && Model?.Count() != 0)
    {
        <div id="article-container" class="@articleContainer">
            <h1>Din kundvagn</h1>

            @foreach (var item in Model)
            {
                <div class="article-div" id="article-@item.ArticleNr">

                    <a asp-asp-controller="Shop" asp-action="ArticleDetails" asp-route-articleNr="@item.ArticleNr" class="img-a">
                        <img src="@ShopUtils.GetPictureUrl(item.ArticleName)" />
                    </a>

                    <div class="price-name-div">
                        <p class="price-name-p">@item.ArticleName</p>
                        <p>@item.FormattedPrice kr</p>
                    </div>

                    <div class="amount-div">
                        <span class="amount-span">@item.Amount st </span>
                        <partial name="~/Views/Shop/SVGs/Trashbin.cshtml" model="@item" />
                    </div>

                </div>
            }

            <div id="sum-div">
                <div class="line"></div>

                <span id="sum-span">Summa:</span>
                <span id="total-sum-span">
                    @ShopUtils.FormatPrice(Model.Sum(x => x.Price *  x.Amount)) kr
                </span>

                <div class="shopping-cart-btn-div">
                    <button class="default-button shopping-cart-button" onclick="clearShoppingCart()">Töm varukorg</button>
                    <a asp-controller="Shop" asp-action="Checkout" class="default-button">
                        Till betalning
                    </a>
                </div>
            </div>
        </div>
    }

    <div id="empty-shopping-cart-div" class="@emptyShoppingCart">
        <h1 id="empty-h1">Din kundvagn är tom</h1>

        <a asp-controller="Shop" asp-action="Index" class="default-button">
            Bläddra bland våra produkter
        </a>
    </div>
</div>

