@model OrderhistoryVM

@section CSS{
    <link rel="stylesheet" href="~/CSS/orderhistory.css">
    <link rel="stylesheet" href="~/CSS/userpage.css">
}

@section JS{
    <script src="~/JS/orderhistory.js" defer></script>
}

<div id="main-container">
    <div>
        <h1 id="h1-order">Orderhistorik</h1>
        @foreach (var order in Model.Orders.OrderByDescending(o => o.OrderDate))
        {
            <div class="order-container">
                @{
                    var orderPrice = ShopUtils.FormatPrice(order.OrderLines.Sum(o => o.Price));
                }
                <div class="plus-title-container">
                    <h2 class="order-title">
                        Ordernummer: @order.OrderId.ToString("D6") - Orderdatum: @order.OrderDate.ToShortDateString()
                    </h2>
                    <div class="div-plus" onclick="openOrCloseOrder(this, @order.OrderId)">
                        <svg id="svg1" class="svg-plus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M24 9h-9v-9h-6v9h-9v6h9v9h6v-9h9z"></path><path class="hide" d="M0 10h24v4h-24z" /></svg>
                    </div>
                </div>
                <div class="articles-container hide" id="articles-container-@order.OrderId">
                    @foreach (var article in order.OrderLines)
                    {
                        <a class="favourite-a" asp-controller="Shop" asp-action="ArticleDetails" asp-route-articleNr="@article.ArticleNr">
                            <div class="article">
                                <div class="img-div">
                                    <img src="@ShopUtils.GetPictureUrl(article.ArticleName)" />
                                </div>
                                <div class="price-name">
                                    <p class="p-name">@article.ArticleName</p>
                                    <p>@ShopUtils.FormatPrice(article.Price) kr</p>
                                    <p>@article.Amount st</p>

                                </div>
                            </div>
                        </a>
                    }
                </div>
                <p class="total-price">Summa: @orderPrice Kr</p>
            </div>
        }
    </div>

</div>
