@using HoldYourHorses.ViewModels.Account

@model UserpageVM

@section CSS{
    <link rel="stylesheet" href="~/CSS/userpage.css">
}
<div class="user-body">

    <div>
        <h1>Mitt Konto</h1>
        Välkommen tillbaka @Model.Username

        <div id="button-container">
            <a asp-controller="Account" asp-action="Orderhistory" class="default-button">Orderhistorik</a>
            <a asp-controller="Account" asp-action="Logout" class="default-button">Logga ut</a>
        </div>
        <div>
            <div id="article-container">
                <h1>Dina favoriter</h1>
                @if (Model.Cards.Length == 0)
                {
                    <div>
                        <p>Du har inga favoritmarkerade käpphästar :( </p>
                        <a id="go-to-products-a" asp-controller="Shop" asp-action="Index">Gå till våra produkter</a><span> och tryck på hjärtikonen för att favoritmarkera en produkt</span>
                    </div>
                }
                else
                {
                    foreach (var card in Model.Cards)
                    {
                        <a class="favourite-a" asp-controller="Shop" asp-action="ArticleDetails" asp-route-articleNr="@card.ArticleNr">
                            <div class="article" id="@card.ArticleName">
                                <div class="img-div">
                                    <img src="@ShopUtils.GetPictureUrl(card.ArticleName)" />
                                </div>
                                <div class="price-name">
                                    <p class="p-name">@card.ArticleName</p>
                                    <p>@ShopUtils.FormatPrice(card.Price) kr</p>

                                </div>
                            </div>
                        </a>
                    }
                }
            </div>
        </div>
    </div>

</div>
